body {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.first {
    display:flex;
    flex-direction: row;
}

.shit {
    color: peru;
}

button {
    color: white;
    background-color: black;
    font-size: large;
    height: 50px;
    margin: 15px;
}

.menu-buttons {

}